body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  color: white;
  text-align: center;
}

.title {
  color: white;
  text-align: center;
}

.planets {
  color: white;
  text-align: center;
}

.image2{
  height: 80px;
  width: 80px;
}

.image{
  display: flex;
  justify-content: space-between;
}

.mission{
  color:white;
  text-align: center;
  margin-top: 80px;
}

.list{
  color: whitesmoke;
  border-radius: 15px;
  border: 1px solid white;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 10px;
}

.list:hover{
  border: transparent;
  font-style: italic;
  cursor: pointer;
  font-family: monospace;
  background-color: gray;
}


